@{
    ViewData["Title"] = "To Do Note App";
}
@model List<todonote.Models.Note>

<div class="text-center">
    <h1 class="display-4">To Do Note</h1>
    <div>
        <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Content</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var note in @Model)
    {
    <tr>
      <th scope="row">@note.ID</th>
      <td>@note.Content</td>
      <td>@note.Author</td>
      <td><a href="/Home/AddNote/@note.ID"class="btn btn-secondary">Add</a></td>
      <td><a href="/Home/UpdateNote/@note.ID"class="btn btn-secondary">Update</a></td>
    </tr>
    }
  </tbody>
</table>
    </div>
</div>
